@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgb(212, 207, 175) 0%
        rgba(228, 217, 255, 1) 0%
        rgba(30,39,73,1) 100%
    );
    background-repeat: no-repeat;
    height: 100%;
  }
  .profileimage {
      border-radius: 50%;
  }
  .profileimagecontainer {
      display: flex;
      align-content: center;
      justify-content: center;
      margin-top: 3rem;
      
  }
  .name {
      display: flex;
      align-content: center;
      justify-content: center;
      color: rgb(243, 236, 236);
      font-family:Roboto;
      font-size: 2rem;
      
  }
.name svg{
    padding-top: 1rem;
    position: relative;
    top: 0.5rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
  .name h3{
    /* color: lightblue; */
    color: lightgreen;
  }

  a {
      display: flex;
      align-content: center;
      justify-content: center;
      border: 1px white solid;
      border-radius: 2rem;
      background-color: transparent;
      color: white;
      text-decoration: none;
      font-size: 2rem;
      margin: 30px;
      padding: 30px;
      width: 60vw;
      align-items: center;
      font-family: 'Roboto';
      font-weight: 500;
      transition: 0.5s all;
    }
    a:hover {
        transform: scale(1.04);
        background-color: lightgreen;
        border: none;
        color: black;
        transition: 0.5s all;
        font-weight: bolder;
        
    }

    @media screen and (max-width: 600px) {
        .name {
            font-size: 20px;            
        }
        .profileimage {
            height: 180px;
            width: 180px;
        }
        body {
            height: 75%;
        }
    }

    @media screen and (max-width: 426px) {
        .name {
            font-size: 15px;            
        }
        a {
            font-size: 1.7rem;
        }
        .profileimage {
            height: 170px;
            width: 170px;
        }
    
    }

    @media screen and (max-width: 330px) and (min-width: 60px){
        .name {
            font-size: 8px;            
        }
        a {
            font-size: 1.2rem;
        }
        .profileimage {
            height: 150px;
            width: 150px;
        }
        body {
            height: 50%;
        }
    }